@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 348 77% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 75 54% 60%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 348 77% 68%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Montserrat', sans-serif;
  }

  html, body {
  min-height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  }


  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
  }

  h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
  }
}
